

<div class="container-fluid sticky-top">
  <div class="row  text-light make-left" style="height:60px;background:royalblue">
    <div  class="col-3 textify make-center">
      MyProject
    </div>
    <div class="col-8 make-center">
        <input [(ngModel)]="postmsg" class="form-control" type="text" placeholder="write Something to post...">
                  <button (click)="postText()" class="ml-2 btn btn-sm rounded" >Post</button>
    </div>
    <div class="col-1"></div>
        </div>
  </div>







<div class="container-fluid " *ngIf="list.length >0"> 
  <div class="mt-1 row" *ngFor="let item of list" style="height:200px;">
    <div class="col-3"></div>
    <div class="col-6 text-dark" style="background:cornflowerblue">
      <div class="row" style="height:50%">
        <div class="col-12 make-center set " >
            {{item.postval}}
        </div>
      </div>
      <div class="row" style="height:18%">
        <div class="col-3">
          <button (click)="likeCount(item)">Like <span class="badge badge-primary"> {{item.like}} </span></button>
        </div>
        <div class="col-3">
          <button (click)="dislikeCount(item)">DisLike  <span class="badge badge-primary"> {{item.dislike}} </span></button>
        </div>
        <div class="col-3">
            <button>Comment <span class="badge badge-primary rounded"> {{item.comcount}} </span></button>
        </div>
        <div class="col-3">
          <button (click)="delete()">Delete <span class="btn-btn-sm rounded"> {{item.delete}} </span></button>
      </div>

      </div>
      <div class="row mt-1" style="height:20%">
        <div class="col-10 make-center"> <input [(ngModel)]="comm" class="form-control" type="text" placeholder="write comments here.."> </div>
        <div class="col-2 make-center"> <button (click)="commenthere(item)" class="btn btn-secondary">Post</button> </div>
      </div>
      <div class="row mt-1" style="height:12%;overflow-y: scroll;">
        <div *ngFor="let msg of item.comment" class="col-12">
            {{msg}}
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>


<div class="container-fluid" *ngIf="list.length==0">
<div class="row mt-1">
<div class="col-3"></div>
<div class="col-6 rounded textify bg-primary make-center" style="height:200px; "> No Post Available</div>
<div class="col-3"></div>

</div>
</div>
