@import "~bootstrap/dist/css/bootstrap.css";

.beauty{
    font-weight: bold;
    font-family:cursive;
    font-size: x-large;
    font-style: bold;
}

.make-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.make-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}