
<div class="container-fluid">
  <div class="row bg-dark header-style ">
    
    <div class="col-2  ml-2"> 
    <div class="row fontify">
     
     <span class="text-light">DAC Chat </span>      
    </div>
    <div class="row">
      <span style="color:orange">Learn Something New</span>
    </div>
    </div>

    <div class="col-8 make-center">
      <input type="text" class="form form-control" placeholder="Write Something to post on wall">
      <button class="ml-2 btn ">Post Something</button>
    </div>
    
    <div class="col-2">
    </div>
  </div>
</div>
