<div class="container-fliud">
  <div class="row bg-primary" style="height:60px">
    <div  class="col-3 text-light make-center font">LovelySingh</div>
    <div class="col-6 make-center">
     <input [(ngModel)]="post" type="text" class="form form-control" placeholder="Enter Here.... ">
    <button  (click)="postHere()" class="btn btn-sm ml-2">
      Post Here..
    </button>
  </div>
    <div class="col-3 make-left">

  </div>
</div>
<div class="container-fluid" *ngIf="postList.length > 0">
    <div class="row mt-2" *ngFor="let item of postList" style="min-height:125px">
    <div class="col-3 "></div>
    <div class="col-6 ">
        <div class="card">
            <div class="card-body make-center " style="min-height:100px;">
              <h5 class="card-title">
                {{item.post}}
              </h5>
            </div>

            <div class="card-footer text-muted">
              <a href="#" (click)="likeCount(item)" class="btn btn-sm btn-primary">LIKE
                  <span class="badge badge-light">{{item.like}}</span>
              </a>
              <a href="#" (click)="dislikeCount(item)" class="ml-1 btn btn-sm btn-primary">DISLIKE
                <span class="badge badge-light">{{item.dislike}}</span>
              </a>
              <a href="#" (click)="delete(item)" class="ml-1 btn btn-sm btn-primary">
                Delete
              </a>
              <a (click)="comment2(item)" class="btn btn-sm btn-primary ml-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  comment
                  <span class="badge badge-light">{{item.comment1}}</span>
                </a>
                
                  <div *ngFor="let comm2 of item.comment">
                     <div class=" border border-primary mt-2">{{comm2.comm}}</div>
                </div>
                  <div class="mt-1" >
                   
                      <input [(ngModel)]="comm" type="text" class="form form-control" placeholder="Express Yourself.... ">
                      <button id="a1"  (click)="commentHere(item.comment)" class="btn btn-sm mt-2">
                         Done
                        </button>
                    </div>                  
            </div>
        </div>
    
    </div>
    <div class="col-3"></div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="postList.length == 0">
<div class="row  " style="height:100px">
  <div class="col-3 "></div>
  <div class="col-6 mt-1 make-center bg-light font">NO POST AVALIABLE</div>
  <div class="col-3 "></div>
</div>
  </div>
  