<div class="container-fluid stickt-top ">
  <div class="row bg-primary " style="height:50px">
     
    <div class="col-3 make-center beautify">
       DACBOOK
    </div>

<div class="col-6 make-center">
  <input [(ngModel)]="post" type="text" class="form-control form-control-lg" placeholder="post here" >
  <button (click)="postthere()" type="button" class= "btn btn-secondary">
    POST HERE 
  </button>
</div>

  <div class="col-3 make-left">
   

  </div>
      </div>
  </div>

<div class="container-fluid mt-1" *ngIf="post.length>0">
  <div class="row" style="max-height:80px" *ngFor="let item of postlist">

    <div class="col-3"> </div>
    <div class="col-6 bg-primary">
      <div class="card">
        <div class="card-body make-center text muted" style="min-height:100px">
          <h5 class="card-title">
            {{item.post}}

          </h5>
       </div>

  <div class="card-foter text-muted">
    <a href="#" (click)="likecount(item)" class="btn btn-sm btn-secondary mr-2">like
      <span class="badge">{{item.like}}</span>
      </a>
      
          <a href="#" (click)="dislikecount(item)" class="btn btn-sm btn-secondary">dislike
            <span class="badge">{{item.dislike}}</span>
            </a>

    
</div>


</div>
    <div class="col-3">
    </div>

   </div>
   </div>

   <div class="container-fluid" *ngIf ="postlist.length ==0">
   <div class="row" style="height:100px ">
    <div class="col-3">
      </div>

      <div class="col-6 bg-primary makecenter">
        nothing is posted here
        </div>

        <div class="col-3">

        </div>
        </div>
        </div>