<div class="container-fluid sticky-top mb-1">
  <div class="row alert-success" style="height:60px">
     <div class="col-3 make-left beautify">
        {{title}}
     </div>
      <div class="col-6 make-center">
        <input [(ngModel)]='post'type="text" class="form-control mr-1" placeholder="Write Someting......">
        <button (click)='postHere()'type="button" class="btn border-success">PostHere</button>

      </div>
       <div class="col-3">

       </div>

  </div>
</div>


<div class="container-fluid" *ngIf="postList.length > 0">
  <div class="row mb-1" *ngFor="let item of postList">
      <div class="col-3"></div>
      <div class="col-6">
          <div class="card border-success">
              <div class="card-body make-center beautify">
                    Welcome !{{item.post}}!
              </div>
          
              <div class="card-footer"*ngFor='let i of comArray'>
                  <button (click)='delComment(i)'type="button" class="btn mr-5 border-success">Delete</button> <span>{{i}}</span>
              </div>
              <div class="card-footer">
                <input [(ngModel)]='comv'type="text" class="form-control mb-1">
                <button (click)='addComment()' type="button" class="btn border-success mr-1">Comment</button>
                <button (click)='updateCom()' type="button" class="btn border-success">Update</button>
                                                
              </div>
              <div class="card-footer">
                  <button (click)='likeCount(item)' type="button" class="btn border-success mr-1">
                    Like
                    <span class="badge badge-success">{{item.like}}</span>
                  </button>

                   <button (click)='dislikeCount(item)' type="button" class="btn border-success mr-5">
                    Dislike
                    <span class="badge badge-success">{{item.dislike}}</span>
                  </button>
                  <input [(ngModel)]='epost' type="text" class="mr-2 rounded" style="width :200px;">
                  <button (click)='editPost(item)' type="button" class="btn border-success mr-1">EditPost</button>
                  <button (click)='removepost(item)'type="button" class="btn border-success">Delete</button>
                                  

              </div>
        </div> 
      </div>
      <div class="col-3"></div>
  </div>
</div>

<div class=" container-fluid mt-1" *ngIf="postList.length == 0">
   <div class="row border-success" style="height:200px">
     <div class="col-3">

     </div>
     <div class="col-6 border rounded make-center beautify text-mute border-success">
          !!  Add New Post  !!
     </div>
     <div class="col-3">
     </div>
   </div>
</div>