.make-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.make-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.make-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.beautify{
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
}