
.make-center
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.make-left
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.make-right
{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.fontify
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}