<div class="container-fluid sticky-top">
  <div class="row bg-dark text-light " style="height:13%">
    <div class="col-3 fonty make-center">POSTBOOK</div>
    <div class="col-6 make-center">
      <input [(ngModel)]="post" type="text" placeholder="Write here..." class="form-control form-control-m">
    </div>
    <div class="col-3  make-left">
      <button (click)="posthere()" class="btn btn-outline-light btn-m"> POST </button>
    </div>
  </div>
</div>

<div class="container-fluid mt-2" *ngFor="let item of postlist">
  <div class="row" style="height:79%">
    <div class="col-3"></div>
    <div class="col-6 rounded" animated="pulse">
      <div class="card">
        <div class="card-body make-center fonty2 text-muted" style="height:250px">
          {{item.post}}
        </div>
        <div class="card-footer text-muted" >
          <button (click)="likes(item)" class="mr-2 btn btn-outline-dark">
            Like
            <span class="badge badge-light">{{item.like}}</span>
          </button>

          <button (click)="dislikes(item)" class="mr-2 btn btn-outline-dark">
              DisLike
              <span class="badge badge-light">{{item.dislike}}</span>
            </button>

            <button (click)="updates(item)" class=" mr-2 btn btn-outline-dark">
                Update
              </button>

              <button (click)="deletes(item)" class="mr-2 btn btn-outline-dark">
                  Delete
                </button>

                <div class="row">
                 
                  <input [(ngModel)]="update" type="text" class="form-control mt-2 form-control-m" placeholder="Upadate Post...">
                 
                  <input [(ngModel)]="com" type="text" class="form-control mt-2 form-control-m" placeholder="Comments...">
                 
                  <button (click)="comm(item)" class=" mr-2 mt-2 btn btn-outline-dark">
                      Comment
                    </button>
                </div>
                <div class="row mt-2" *ngFor="let value of comm">
                <div class="col-3"></div>
                  <div class="col-6 make-center mt-2" style="font-size:150%">
                    {{item.com}}
                  </div>
                  <div class="col-3">
                      <button (click)="Delcom(item,value)" class=" mr-2 mt-2 btn btn-outline-dark">
                          Delete
                        </button>
                  </div>
                </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row fixed-bottom make-center bg-dark text-light" style="height:8% ;font-size:200%">
  Thank You!!!! 
  </div>
</div>
