<div class="container-fluid sticky-top">
  <div class="row bg-primary" style="height:10%">
    <div class="col-3 make-left beautify text-light">{{title}}</div>
    <div class="col-6 make-center">
      <input [(ngModel)]='post' type="text" class="form-control form-control-lg" placeholder="Write Something.....">
      <button (click)="posthere()" type="button" class="btn btn-lg btn-outline-light ml-2">Post Here</button>
    </div>
  </div>
</div>

<div class="container-fluid" style="height:80%;overflow-y: scroll"  *ngIf="postlist.length>0">
  <div class="row mt-2" style="min-height:300px" *ngFor="let item of postlist">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card" >
        <div class="bg-primary card-body make-center beautify text-light text-capitalize">{{item.post}}</div>
        <div class="card-footer">
          <button (click)="likecount(item)" type="button" class="btn btn-lg btn-info">Like
            <span class="badge badge-lg badge-light">{{item.like}}</span>
          </button>
          <button (click)="dislikecount(item)" type="button" class="ml-2 btn btn-lg btn-info">Dislike
            <span class="badge badge-lg badge-light">{{item.dislike}}</span>
          </button>
          <button (click)="deletepost(item)" type="button" class="ml-2 btn btn-lg btn-info">Delete Post
          </button>
          <div class="row mt-1">
                <input [(ngModel)]='edit' type="text" class="form-control form-control-m" placeholder="Edit Post.....">
                <button (click)='editpost(item)' type="button" class="btn btn-m btn-info mt-1">Edit Post Here</button>
          </div>
          <div class="row mt-1">
              <input [(ngModel)]='comment' type="text" class="form-control form-control-m" placeholder="Enter Comment Here........">
              <button (click)="commenthere(item)" type="button" class="btn btn-m btn-info mt-1">Comment</button>
        </div>
        <div class="row mt-1" *ngFor="let value of item.commentlist">
          <div class="col-2 make-left">
            {{value}}
          </div>
          <div class="col-7 make-left">
             <input [(ngModel)]='editcom' type="text" class="rounded form-control-m" placeholder="Edit comment.....">
             <button (click)="editcomment(item,value)" type="button" class="ml-1 btn btn-m btn-info">Edit comment</button>
          </div>
          <div class="col-2 mr-2">
            <button (click)="deletecomment(item,value)" type="button" class="btn btn-m btn-info">Delete Comment</button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="height:80%;overflow-y: scroll" *ngIf="postlist.length==0">
  <div class="row mt-2" style="height:150px">
    <div class="col-3"></div>
    <div class="col-6 rounded bg-info make-center beautify">No Post Available</div>
  </div>
</div>

<div class="container-fluid">
  <div class="row bg-primary" style="height:10%"></div>
</div>