<div class="container-fluid sticky-top">
  <div class="row bg-primary" style="height:80px;">
    <div class="col-3 makeleft" style="color: azure;font-family: fantasy;font-size: 50px;">AquaCity</div>
    <div class="col-7 makecenter">
      <input type="text" [(ngModel)]="post" class="form-control form-control-lg makecenter" placeholder="Write something here..">
      <button type="button" (click)="postHere()" class="btn btn-secondary ml-2">
        Post
      </button>
    </div>
    <div class="col-2 makecenter">Login</div> 
  </div>
</div>

<div class="container-fluid" *ngIf="postList.length>0">
  <div class="row mt-1" *ngFor="let item of postList" style="height:300px;">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card">
        <div class="card-body makecenter text-muted">
          <h5 class="card-title">{{item.post}}</h5>
        </div>
      </div>

      <div class="card-footer text-muted">
        <a href="#" (click)="likeCount(item)" class="btn btn-sm btn-secondary">
          Likeeee
          <span class="badge badge-light">{{item.like}}</span>
        </a>

        <a href="#" (click)="dislikeCount(item)" class="btn btn-sm btn-secondary ml-2">
            Dislikeeee
            <span class="badge badge-light">{{item.dislike}}</span>
          </a>
  
          <a href="#" (click)="editItem(item)" class="btn btn-sm btn-secondary ml-2">
              Edit Post
          </a>
    
          <a href="#" (click)="deleteItem(item)" class="btn btn-sm btn-secondary ml-2">
                Delete Post
          </a>
          
          <div class="col-7 text-muted makecenter mt-2 ml-2" style="height:80px;">
            <input type="text" [(ngModel)]="Comments" class="form-control form-control-lg" placeholder="Comments please..">
            <button type="button" (click)="CommentHere(item)" class="btn btn-secondary ml-2">Comment </button>
          </div>
          
          <div class="row rounded" *ngFor="let item1 of item.Comment" style="min-height:30px;"> 
            <div class="col-6 makeleft">
              Comment: {{item1}}
            </div>
            
          </div>
        
        </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<div class="container-fluid makecenter mt-1" *ngIf="postList.length==0">
  <div class="col-2"></div>
  <div class="col-6 makecenter" style="border-radius:3px;font-size:30px;background:grey;height:100px;font-family: arial;">NO POST AVAILABLE</div>  
  <div class="col-2"></div>
</div>

