<div class="container-fluid sticky-top">
  <div class="row" style="height:100px;background:skyblue">
    <div class="col-3 make-center" style="font-size:35px">
      DACBOOK
    </div>

    <div class="col-6 make-center">
      <input [(ngModel)]="post" class="input1 form form-control" type="text"
             placeholder="Write something here...">
        
      <button (click)="postHere()" type="button" class="ml-5 btn btn-secondary">
         Post</button>       
    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="row mt-1" *ngFor="let item of postList">
      <div class="col-3">

      </div>

      <div class="col-6"  style="min-height:150px" >
          <div class="card">
            <div class="card-body" style="min-height:150px;background: ghostwhite">
              {{item.post}}
            </div>

            <div class="card-footer">
              <a href="#" (click)="likeCount(item)" class="btn btn-secondary">LIKE
                <span >{{item.like}}</span>
              </a>

              <a href="#" (click)="dislikeCount(item)" class="ml-1 btn btn-secondary">DISLIKE
                <span >{{item.dislike}}</span>
              </a>

              <a href="#" class="ml-1 btn btn-secondary">COMMENT
                <span >{{item.comment}}</span>
              </a>

              <a href="#" (click)="deletePost(item)" class="ml-1 btn btn-secondary">DELETE POST
                
              </a>

            </div> <!--end of card footer-->

            <div class="mt-1">
              <div class="row" style="min-height:80px">
                
                <div class="col-12">
                  <input [(ngModel)]="item.comments" class="input2" type="text"
                    placeholder="Add comment ...">
                    
                  <button (click)="postComment(item)" type="button" 
                    class="mt-1 btn btn-primary">
                        Post Comment
                  </button>  
                </div>

                
                    <div class="col-12" style="min-height:30px" *ngFor="let items of item.postList">
                      <span>{{items.comments}}</span>
                    </div>
                  

              </div>

            
            </div> <!--end of mt-1-->
          </div> <!--end of card-->
      </div>

      <div class="col-3">

      </div>
  </div>
</div>
