/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.center
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.beauty
{
    font-size: 30px;
    font-family: cursive;
    color: white;
}