/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.fairnhandsome{
    font-weight: bold;
    font-family: cursive;
    font-size: x-large;
    font-style: italic;
}

.make-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.make-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}