<div class="container-fluid sticky-top">
  <div class="row bg-dark" style="height:55px">
    <div class="col-3 make-left text-light">
       {{title}}
    </div>
    <div class="col-6 make-center">
      <input [(ngModel)]="post" type="text" class="form-control" placeholder="post here...">

      </div>
      <div class="col-3 make-center">
        <button (click)="postHere()" type="button" class="btn btn-secondary">POST</button>

        </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="postList.length>0">
    <div class="row mt-1" *ngFor="let item of postList">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="card">
            <div class="card-body make-center text-muted fontify" style="min-height:100px">
              <h5 class="card-title">{{item.post}}</h5>


            </div>
            <div class="card-footer text-muted">
              <a href="#" (click)="likeCount(item)" class="btn btn-sm btn-secondary">LIKE
                <span class="badge badge-light">
                  {{item.like}}
                  </span>
                </a>
                <a href="#" (click)="dislikeCount(item)" class="ml-1 btn btn-sm btn-secondary">DISLIKE
                <span class="badge badge-light">
                  {{item.dislike}}
                  </span>
                </a>

              <a href="#" (click)="deletePost(item)" class="ml-1 btn btn-sm btn-secondary">DELETE POST
                
                </a>

          <a href="#" (click)="commentPost(item)" class="ml-1 btn btn-sm btn-secondary">COMMENT
              </a>
              <input [(ngModel)]="comment" type="text" class="form-control" placeholder="comment here...">
              <div class="container-fluid" >
                </div>
                </div>
                <div class="row mt-1 make-center" *ngFor="let i of item.commentList">
                  <div class="col-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{i}} </h5>
                        </div>
                      </div>
                    </div>
                  </div>

               <a href="#" (click)="deleteComment(item,i)" class="ml-1 btn btn-sm btn-secondary"> DELETE COMMENT
                
                </a>
                </div>

          
          
          </div>
          <div class="col-3"></div>
      </div>
    </div>
    <div class="container-fluid sticky-top">
    <div class="row mt-1" style="height:55px">
      <div class="col-3"></div>
      <div class="col-6 make center text-light">NO POST AVAILABLE</div>
      <div class="col-3"></div>
      </div>
    </div>
    <div class="footer make-left">
      <p>COPYRIGHT DACBOOK</p>
      </div>
