<div class="container-fluid">
  <div class="row bg-danger" style="height: 60px">
      <div class="col-3 h3 mt-2 text-light make-center">FACEBOOK</div>

      <div class="col-6 make-center">
          <input type="text" placeholder="Post Here..." [(ngModel)]='Post' class="form form-control">
          <button type="button" (click)="post()" class="btn btn-light ml-2">Post</button>
          
      </div>
      
      <div class="col-3"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row mt-2" style="height: 500px" *ngFor="let item of objList">
    <div class="col-2"></div>

    <div class="col-7 bg-secondary rounded text-light">
      <div class="row bg-secondary make-center rounded h3" style="height: 190px">
        {{item.Post}}
      </div>
    <div class="row bg-secondary rounded h6 datetime" style="height:20px">

      <p class="datetime">
      {{item.Datetime}}
      </p>

    </div>
      

      <div class="row bg-primary rounded" style="height: 80px">
          <div class="col-2 make-left">
              <button type="button" (click)="LikeCount(item)" class="btn btn-light ml-2">
                Likes : {{item.Like}}
              </button>
          </div>
          
          <div class="col-2 make-left">
              <button type="button" (click)="DislikeCount(item)" class="btn btn-light ml-1">
                Dislikes : {{item.Dislike}}
              </button>
          </div>
          
          <div class="col-7 make-left"><input type="text" [(ngModel)]="Comments" class="form form-control" placeholder="Comment...">
              <button type="button" (click)="CommentHere(item)" class="btn btn-light ml-3">Comment</button>
              <button type="button" (click)="CommentHere(item)" class="btn btn-light ml-3">Edit post</button>
              <button type="button" (click)="CommentHere(item)" class="btn btn-light ml-3">delete post</button>
              
              
            </div>
          </div>
          
      <div class="row rounded bg-light text-dark mt-2 comment" style="height: 40px;" *ngFor="let item1 of item.Comment">
              <div class="col-5 ml-2 mt-1 h5">
                Comment : {{item1}}
              </div>
              <div class="col-4 make-left">
                <input type="text" [(ngModel)]="edittext" class="form form-control ml-1">
                <button type="button" (click)="edit(item,item1)" class="btn btn-secondary ml-1">Edit</button>
              </div>
              <div class="col-2"><button type="button" (click)="deletecom(item,item1)" class="btn btn-secondary">Delete</button></div>
            </div>
            
    </div>
    <div class="col-3">
    
    </div>
  </div>
</div>