<div container-fluid sticky-top>
  <div class="row bg-dark" style="height:12%">
    <div class="col-3 make-left text-light">
      {{title}}
    </div>
    <div class="col-6 make-center">
      <input [(ngModel)]="post" type="text" placeholder="Write something..." class="form-control">
      <button (click)="postHere()" class="btn btn-secondary ml-1">Post</button>

    </div>

  </div>

</div>


<div class="container-fluid" *ngIf="postList.length > 0">
  <div class="row mt-1" *ngFor="let item of postList">
    <div class="col-3">

    </div>
    <div class="col-6 rounded">
      <div class="row">
        <div class="col-12 bg-primary make-center" style="height:100px">
          {{item.post}}
        </div>
        <div class="row">
          <div class="col-12" style="height:40px">
            <button (click)="likeCount(item)" class="btn btn-sm btn-secondary mt-1">LIKE <span>{{item.like}}</span></button>
            <button (click)="dislikeCount(item)" class="btn btn-sm btn-secondary mt-1 ml-3">DISLIKE <span>{{item.dislike}}</span></button>
            <button (click)="deleteP(item)" class="btn btn-sm btn-secondary ml-3 mr-5 mt-1">DELETE POST <span>{{item.deleteP}}</span></button>

          </div>

        </div>
        <div class="row">
          <div class="col-12">
            <input [(ngModel)]="editedPost" type="text" placeholder="edit post..." class="mt-1">
            <button (click)="editPost(item)" class="btn btn-sm btn-secondary ml-1">EDIT <span>{{item.editedPost}}</span></button>

          </div>

        </div>
        <div class="row" *ngFor="let comm2 of item.comment">
          <div class="border border-primary">
            {{comm2.comm}}

          </div>

        </div>
        <div>
          <input [(ngModel)]="comm" type="text" placeholder="comment here..." class="form form-control form-control-sm">
          <button (click)="commentHere(item.comment)" class="btn btn-sm btn-secondary">COMMENT</button>

        </div>


      </div>

    </div>

  </div>

</div>


<div class="container-fluid" *ngIf="postList.length == 0">
  <div class="row mt-1" style="height:150px"> 
    <div class="col-3">

    </div>
    <div class="col-6 bg-secondary make-center rounded"> 
      No Post Available

    </div>

  </div>

</div>
