header .row { height: 60px;}

.no-post { height: 175px; }

textarea { height: 45px; }

.button-group { float: right; }

.comment-display {
    margin-top: 10px;
}

.comment-display .row {
    padding: 8px 0;
    border-top: 1px dotted grey;
}