.fontify{
    font-size:40px;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font: bold;
    color:white;

}
.f1{
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 25px;
}
.f2{
    font-size:25px;
     font-weight:10px;
     font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif ;
}