.make-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.make-left{
    display: flex;
    justify-content: left;
    align-items: center;
}

.textify{
    font-family: monospace;
    font-size: 20px;
}