

<div class="container-fluid sticky-top">
  <div class="row bg-primary" style="height: 80px;">
    <div class="col-3 font left"> Project </div>
    <div class="col-6 center">
      <input [(ngModel)]="post"  class="form-control form-control-lg" type="text" placeholder="Write Something....">
    </div>
    <div class="col-3 left">
        <button class="btn " (click)="posthere()">Post</button>
    </div>
  </div>

</div>



<div class="container-fluid" *ngIf="postlist.length > 0">

    <div class="row mt-1" *ngFor="let item of postlist">

        <div class="col-3">
        </div>

        <div class="col-6">

            <div class="card"> 
                <div class="card-body font center">
                    {{item.post}}
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm ml-1" (click)="likepost(item)">
                      like
                    <span class="badge badge-warning">{{item.like}}</span>
                    </button>
                    <button class="btn  btn-sm ml-1" (click)="dislikepost(item)">
                      dislike
                      <span class="badge badge-warning">{{item.dislike}}</span>
                    </button>

                    
                    <input [(ngModel)]="comment" class="ml-1"type="text" placeholder="comments....">
                    <button class="btn btn-sm ml-1" (click)="postcomment(item) ">comments
                        <span class="badge badge-warning">{{item.comcount}}</span>
                    </button>
                    <div  *ngFor="let c of comarray">
                        {{c.comment}}
                        <input [(ngModel)]="editcomm" class="ml-1" type="text" placeholder="edit comments....">
                        <button class="btn btn-sm ml-1" (click)="editcommpost(c)" >Edit comment</button>
                        <button class="btn btn-sm ml-1" (click)="deletecomm(item)">Delete comment</button>
                        
                     </div>
                     
                    <button class="btn ml-1" (click)="delete(item)">delete post</button>
                    <input [(ngModel)]="editpost" class="ml-1"type="text" placeholder="edit post here....">
                    <button class="btn  btn-sm ml-1" (click)="editpost1(item)">Edit Post</button>
                   
                     
                </div>
            </div>


        </div>


        <div class="col-3"></div>
    </div>
</div>




<div class="container-fluid" *ngIf="postlist == 0">
  <div class="row mt-2">
    <div class="col-3"></div>
    <div class="col-6 rounded bg-light font center" style="height: 50px;">
      No Post Available
    </div>

  </div>
</div>


